
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 60%;
}


h1 {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  margin: 40px 0 20px 0;
  text-align: center;
}


p {
  color: #333;
  margin: 20px 0;
  text-align: justify;
}



/* Style the translated words with an underline */
.translated {
    text-decoration: underline;
    text-decoration-color:  #3498db;
    cursor: pointer;
    position: relative; 
  }

  
  .tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid red;
    padding: 5px;
    z-index: 9999;
    margin-top: -10px; /* adjust this value to control the amount of upward offset */

  }
  
  

  button{
    border: 10px solid #e3e3e3; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding:10px;
    transition: border-color 0.3s ease-in-out;

  }
  
button:hover {
    border-color: rgb(182, 182, 182);
  }

  .loader {
    display: none;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  /* controls movement of the loader animation*/
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }